<div class="header">
  <div>
    <a class="admin-text">
      <a href="#">Students</a>
      > Add-Student
    </a>
  </div>
  <div class="dashed-line"></div>
  <div>
    <div class="center-body">
      <form>
        <main class="main-center">
          <div class="student-block">
            <span class="center-text">Select Center</span>
            <select class="center-form">
              <option>Select Centre</option>
              <option>Ahmednagar</option>
              <option>Alwar</option>
              <option>Chevella</option>
              <option>e-Surya</option>
              <option>Eluru</option>
              <option>Jawhar</option>
              <option>Jorhat</option>
              <option>Kota</option>
              <option>Nanded</option>
              <option>Odisha</option>
              <option>Pune</option>
              <option>Ranchi</option>
            </select>
          </div>
          <div class="Batch-block">
            <span class="center-text">Select Batch</span>
            <select class="center-form">
              <option>Select Batch</option>
            </select>
          </div>
          <div class="student-line"></div>
          <span class="bulk-text">BULK ADMISSION</span>

          <div class="body-block">
            <input type="text" class="center-form" placeholder="Choose File" />
          </div>
          <div class="student-line2"></div>
          <span class="singleadmin-block">SINGLE ADMISSION </span>
          <div class="singleadmin-block-Roolno">
            <span class="center-text">Student Name</span>
            <input type="text" class="center-form" />
          </div>
          <div class="singleadmin-block-student">
            <span class="center-text">Roll Number</span>
            <input type="text" class="center-form" />
          </div>
          <div class="singleadmin-block-adharno">
            <span class="center-text">Adhar Number</span>
            <input type="text" class="center-form" />
          </div>
          <div class="singleadmin-block-village">
            <span class="center-text">Village</span>
            <input type="text" class="center-form" />
          </div>
          <div class="singleadmin-block-taluka">
            <span class="center-text">Taluka</span>
            <input type="text" class="center-form" />
          </div>
          <div class="singleadmin-block-district">
            <span class="center-text">District</span>
            <input type="text" class="center-form" />
          </div>
          <div class="singleadmin-block-bloodgroup">
            <span class="center-text">Blood Group</span>
            <select class="center-form">
              <option></option>
              <option>O+</option>
              <option>O-</option>
              <option>A+</option>
              <option>A-</option>
              <option>B+</option>
              <option>B-</option>
              <option>AB+</option>
              <option>AB-</option>
              <option>NA</option>
            </select>
          </div>
          <div class="student-line3"></div>
          <span class="contact-detail">CONTACT DETAILS</span>
          <div class="singleadmin-block-mobileno">
            <span class="center-text">Mobile Number</span>
            <input type="text" class="center-form" />
          </div>
          <div class="singleadmin-block-emergencyname">
            <span class="center-text">Emergency Contact Name</span>
            <input type="text" class="center-form" />
          </div>
          <div class="singleadmin-block-emergencyno">
            <span class="center-text">Emergency Contact Number</span>
            <input type="text" class="center-form" />
          </div>
          <div class="singleadmin-block-relation">
            <span class="center-text">Relation</span>
            <select class="center-form">
              <option></option>
              <option>Father</option>
              <option>Mother</option>
              <option>Guardian</option>
              <option>Sibiling</option>
            </select>
          </div>
          <div class="student-line4"></div>
          <span class="qualification-detail">QUALIFICATION DETAILS</span>
          <div class="education">
            <span class="center-text">Education</span>
            <select class="center-form">
              <option></option>
              <option>MCA</option>
              <option>B.SC</option>
              <option>B.Sc-Agri</option>
              <option>M.A</option>
              <option>12th</option>
              <option>B.A</option>
              <option>Agri.Diploma</option>
              <option>11th</option>
              <option>ITI</option>
            </select>
          </div>
          <div class="radio-buttons">
            <span class="center-text">Education Status</span>
            <div>
              <label>
                <input type="radio" checked="checked" name="optradio" />
                Completed
              </label>

              <label class="radio-inline">
                <input type="radio" name="optradio" /> Not-Completed
              </label>
            </div>
          </div>
          <button class="student-button">Add Student</button>
        </main>
      </form>
    </div>
  </div>
</div>
