<div class="center-list">
  <div>
    <h3 class="center-list-bg">CENTRES LIST</h3>
  </div>
  <div class="table scroll">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Centres</th>
          <th>Students</th>
          <th>Batches</th>
          <th>Certification</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Ahmednagar</a></td>
          <td>0/60</td>
          <td>0/30</td>
          <td>345 / 721</td>
        </tr>
        <tr>
          <td><a href="#">Alwar</a></td>
          <td>0/60</td>
          <td>0/2</td>
          <td>37 / 37</td>
        </tr>
        <tr>
          <td><a href="#">Chevella</a></td>
          <td>0/120</td>
          <td>0/20</td>
          <td>574 / 574</td>
        </tr>
        <tr>
          <td><a href="#">e-Surya</a></td>
          <td>298/1000</td>
          <td>7/28</td>
          <td>0 / 1163</td>
        </tr>
        <tr>
          <td><a href="#">Eluru</a></td>
          <td>0/60</td>
          <td>0/2</td>
          <td>34 / 34</td>
        </tr>
        <tr>
          <td><a href="#">Jawhar</a></td>
          <td>0/30</td>
          <td>0/19</td>
          <td>126 / 403</td>
        </tr>
        <tr>
          <td><a href="#">Jorhat</a></td>
          <td>0/45</td>
          <td>0/1</td>
          <td>24 / 24</td>
        </tr>
        <tr>
          <td><a href="#">Kota</a></td>
          <td>0/40</td>
          <td>0/2</td>
          <td>24 / 50</td>
        </tr>
        <tr>
          <td><a href="#">Nanded</a></td>
          <td>0/60</td>
          <td>0/33</td>
          <td>444 / 746</td>
        </tr>

        <tr>
          <td><a href="#">Odisha</a></td>
          <td>0/25</td>
          <td>0/8</td>
          <td>109/ 109</td>
        </tr>
        <tr>
          <td><a href="#">Pune</a></td>
          <td>0/30</td>
          <td>0/18</td>
          <td>228/ 404</td>
        </tr>
        <tr>
          <td><a href="#">Ranchi</a></td>
          <td>0/60</td>
          <td>0/12</td>
          <td>211 / 211</td>
        </tr>
        <tr>
          <td><a href="#">Jorhat</a></td>
          <td>0/45</td>
          <td>0/1</td>
          <td>24 / 24</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Total</td>
          <td>2156 / 4465</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
