.header {
  width: 100%;
}
.admin-text {
  margin-top: 0.4rem;
  margin-bottom: 0.9rem;
  font-size: 0.7rem;
  font-family: Rubik, sans-serif;
  color: #181818;
  float: left;
  padding-left: 2rem;
}
.dashed-line {
  border: 0.5px solid #ececec;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
}
h3 {
  padding-left: 1rem;
  padding-top: 1rem;
}
.attendance-body {
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
  display: grid;
}
.main-attendanceblock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(13, -webkit-min-content);
  grid-template-rows: repeat(13, min-content);
  align-items: center;
}
.dayreport-block {
  padding: 0.8rem 1rem;
  font-family: Lato, sans-serif;
  color: #000;
}
.dayreport-form {
  width: 100%;
  border: 1px solid #c4c4c4;
  outline: 0;
  font-size: 0.8rem;
  padding: 0.3rem;
  box-shadow: none;
}
.radio-inline {
  padding-left: 1rem;
}
