.total-flex {
  /* width: 100vw; */
  height: 100%;
  display: flex;
  background-color: #f8f8f8;
}
.main-sidebar {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.main-div {
  margin-top: 1rem;
  display: flex;
  position: relative;
  text-decoration: none;
  backface-visibility: hidden;
  padding: 1rem;
}
.icons {
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
  transition: 0.3s ease;
}
.paragraph-label {
  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  transition: 0.3s ease;
  width: 168px;
}
.main-div :hover.paragraph-label {
  top: 0;
  padding-left: 3rem;
  bottom: 0;
  opacity: 1;
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  border-radius: 200px;
  cursor: pointer;
}
.exam-report {
  padding-left: 45px;
}
.centers :hover .center-bg {
  background-image: linear-gradient(to right bottom, #f81b7f, #eeeaea);
}
.batches :hover .batche-bg {
  background-image: linear-gradient(to right bottom, #3094e4, #d0f1f5);
}
.projects :hover .project-bg {
  background-image: linear-gradient(to right bottom, #9c27b0, #d3c5c9);
}
.text-size {
  font-size: 12px;
  padding-left: 40px;
  color: white;
}
.main-admin {
  padding: 0.5rem;
  overflow: auto;
  height: 80vh;
  width: 100%;
}
