<div class="card-columns batch-padding">
  <div class="card card-bg">
    <div class="card-body text-center">
      <a href="#">
        <div class="card-head">Projects</div>
      </a>
      <a href="#">
        <div class="card-number">13</div>
      </a>
    </div>
    <div class="batch-icon">
      <a href="#">
        <span class="material-icons batch-fontsize"> groups </span>
      </a>
      <a href="#">
        <span class="material-icons batch-plus"> add_circle </span>
      </a>
    </div>
  </div>
</div>
