<div class="container-fluid">
  <mat-toolbar class="navbar">
    <div class="main-header">
      <img src="./images/AE_Logo.png" height="50px" width="100px" />
      <a href="#" class="headingtitle">AE Programme</a>
    </div>
    <div class="admin">
      <span class="material-icons header-padding"> person </span>

      <span class="header-padding">Admin</span>
      <span class="material-icons Login header-padding">
        power_settings_new
      </span>
    </div>
  </mat-toolbar>
  <main class="main-display">
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <ul class="navbar-nav">
        <div>
          <li class="nav-item dash-color-active">
            <a class="nav-link" href="Dashboard">Dashboard</a>
          </li>
        </div>
        <div class="admi-color">
          <li class="nav-item">
            <a class="nav-link" href="Administration">Administration</a>
          </li>
        </div>
        <div class="stu-color">
          <li class="nav-item">
            <a class="nav-link" href="Students">Students</a>
          </li>
        </div>
        <div class="trai-color">
          <li class="nav-item">
            <a class="nav-link" href="Trainers">Trainers</a>
          </li>
        </div>
        <div class="attend-color">
          <li class="nav-item">
            <a class="nav-link" href="Attendance">Attendance</a>
          </li>
        </div>
        <div class="exam-color">
          <li class="nav-item">
            <a class="nav-link" href="Exams">Exams</a>
          </li>
        </div>
        <div class="aca-color">
          <li class="nav-item">
            <a class="nav-link" href="Academics">Academics</a>
          </li>
        </div>
        <div class="assi-color">
          <li class="nav-item">
            <a class="nav-link" href="Assignments">Assignments</a>
          </li>
        </div>
      </ul>
    </nav>
  </main>
</div>
<footer>
  <div>
    <a href="#" class="footer">Syngenta Foundation India</a>
  </div>
</footer>
<router-outlet></router-outlet>
