<div class="header">
  <div>
    <a class="admin-text">
      <a href="#">Administration</a>
      > Add-Batch
    </a>
  </div>
  <div class="dashed-line"></div>
  <div>
    <div class="center-body">
      <h3>GENERAL DETAILS</h3>
      <form>
        <main class="main-center">
          <div class="center-block">
            <span class="center-text">Training Centre</span>
            <select class="center-form">
              <option>Select Centre</option>
            </select>
          </div>
          <div class="center-block">
            <span class="center-text">Batch Name</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">Batch Size</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">Start Date</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">End Date</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">Duration(Days)</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">Project Name</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">Certifying Body</span>
            <input type="text" class="center-form" />
          </div>
          <button class="submit-button">Add Centre</button>
        </main>
      </form>
    </div>
  </div>
</div>
