<div class="card card-bg">
  <div class="card-header">
    <div>
      <a href="#">
        <div class="card-head">Batches</div>
      </a>
    </div>
    <div>
      <a href="#">
        <div class="card-number">18/175</div>
      </a>
    </div>
    <div class="icon-position">
      <img
        class="img-position"
        src="E:\AE-program\src\app\images\address.svg"
      />
      <a href="#">
        <svg>
          <g>
            <ellipse
              ry="10"
              rx="10"
              id="svg_1"
              cy="15.245313"
              cx="13"
              stroke-width="1.5"
              stroke="#000000"
              fill="#000000"
            />
            <rect
              stroke="#ffffff"
              id="svg_2"
              height="1.5"
              width="12"
              y="15"
              x="7"
              stroke-width="0.05"
              fill="#ffffff"
            />
            <rect
              transform="rotate(90 36.100000000000006,24.395312500000003) "
              stroke="#ffffff"
              id="svg_2"
              height="1.5"
              width="12"
              y="47"
              x="21"
              stroke-width="0.05"
              fill="#ffffff"
            />
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>
