<div class="header">
  <div>
    <h1 class="admin-text">Trainers > Trainers-list</h1>
    <form class="search-bar">
      <input
        class="search-text"
        type="text"
        name="search"
        placeholder="Search"
      />
    </form>
  </div>
  <div class="dashed-line"></div>
  <div class="table-content">
    <table class="table table-border">
      <thead class="table-head">
        <tr>
          <th>S.No</th>
          <th>TRAINER ID</th>
          <th>TRAINER NAME</th>
          <th>DESIGNATION</th>
          <th>EMAIL</th>
          <th>MOBILE</th>
          <th>QUALIFICATION</th>
          <th>EXPERTISE IN</th>
          <th>Action</th>
        </tr>
      </thead>
      <tr>
        <td>1</td>
        <td>SFI_00001</td>
        <td><a href="#">Bhushan Sathe</a></td>
        <td>Center In charge Cum Principle Faculty</td>
        <td>bhush73@gmail.com</td>
        <td>9049871133</td>
        <td>B. Sc. (Agriculture)</td>
        <td>Crop Agronomy, Agriculture Extension, INM</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>2</td>
        <td>SFI_00002</td>
        <td><a href="#">Vaibhav Gaikwad</a></td>
        <td>Senior Faculty</td>
        <td>vrgaikwad121@gmail.com</td>
        <td>8007424482</td>
        <td>M. Sc. (Agril Entomology)</td>
        <td>Plant Protection</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>3</td>
        <td>SFI_00003</td>
        <td><a href="#">Mahadev Sayambar</a></td>
        <td>Faculty</td>
        <td>Sayambarmahadev8@gmail.com</td>
        <td>9921816384</td>
        <td>M. Sc. (Agriculture)</td>
        <td>
          Basic Agriculture, Latest and Updated Agricultural Technologies,
          Communication Skills and Analytics
        </td>
        <td>svg</td>
      </tr>
      <tr>
        <td>4</td>
        <td>SFI_00004</td>
        <td><a href="#">Sandip Pandit</a></td>
        <td>Faculty</td>
        <td>sandippandit.2710gmail.com</td>
        <td>9403543830</td>
        <td>B. Sc. (Agriculture)</td>
        <td>Basic Agriculture</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>5</td>
        <td>SFI_00005</td>
        <td><a href="#">Santosh S Kotnod</a></td>
        <td>Senior Faculty</td>
        <td>santoshkotnod@gmail.com</td>
        <td>9766257005</td>
        <td>B. Sc. (Agriculture)</td>
        <td>Basic Agriculture, Agriculture Extension, Crop Agronomy</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>6</td>
        <td>SFI_00006</td>
        <td><a href="#">Usha R Banbale</a></td>
        <td>Faculty</td>
        <td>Banbaleurajendra07@gmail.com</td>
        <td>9158208138</td>
        <td>B. Sc. (Agriculture)</td>
        <td>Basic Agriculture, Crop Agronomy, Agriculture Extension</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>7</td>
        <td>SFI_00007</td>
        <td><a href="#">AKASH MAHALLE</a></td>
        <td>FACULTY</td>
        <td>akashmahalle179@gmail.com</td>
        <td>9011231171</td>
        <td>M. B. A. (Marketing)</td>
        <td>Basic Agriculture, Comunication and Team Building, INM</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>8</td>
        <td>SFI_00008</td>
        <td><a href="#">VIJAYKUMAR V. UGALE</a></td>
        <td>FACULTY</td>
        <td>vijaykumarugale1@gmail.com</td>
        <td>9881741460</td>
        <td>B. Sc. (Agriculture)</td>
        <td>Communication Skills and Analytics</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>9</td>
        <td>SFI_00009</td>
        <td><a href="#">PAVAN R THORAT</a></td>
        <td>Principle Faculty</td>
        <td>pavanthorat@gmail.com</td>
        <td>8668528199</td>
        <td>B.Tech. (Agriculture Engineering)</td>
        <td>Pest and Disease Management</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>10</td>
        <td>SFI_000010</td>
        <td><a href="#">SACHIN ADHAV</a></td>
        <td>Faculty</td>
        <td>sachinadhav007@gmail.com</td>
        <td>8329414654</td>
        <td>M. Sc. (Agri.)</td>
        <td>Latest and Updated Agricultural Technologies</td>
        <td>svg</td>
      </tr>
    </table>
  </div>
</div>
