.container-padding {
  padding-left: 0px;
  margin-left: 39px;
}
.card-bg {
  background-color: #ff9aa2;
}
.card-body {
  display: table;
  text-align: center !important;
  padding-left: -91px;
  padding-right: 5rem;
  margin-left: 50px;
  padding: 0px;
}
.card-head {
  color: #050754;
  font-family: Roboto;
  font-size: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.card-number {
  display: flex;
  color: #050754;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
}
