/* .main-div {
  background-color: lightgray;
  height: 100%;
  width: 200px;
}
.ul-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
a {
  text-decoration: none;
  color: black;
}

.center-over :hover {
  background-color: maroon;
}
svg {
  width: 2rem;
  height: 2rem;
}
li {
  display: flex;
  padding-bottom: 2rem;
} */
.main-nav {
  display: flex;
  width: 49px;
  height: 500px;
  background-color: #f3e4e4;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.center {
  position: fixed;
  left: -120px;
  transition: 0.3s;
  padding: 10px;
  width: 140px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right bottom, #f995c1, #d5c5f1);
  border-radius: 200px;
  cursor: pointer;
}
.batche {
  position: fixed;
  left: -120px;
  transition: 0.3s;
  padding: 10px;
  width: 140px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right bottom, #3094e4, #d0f1f5);
  border-radius: 200px;
  cursor: pointer;
}
.project {
  position: fixed;
  left: -120px;
  transition: 0.3s;
  padding: 10px;
  width: 140px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right bottom, #9c27b0, #d89caa);
  border-radius: 200px;
  cursor: pointer;
}
.addcenter {
  position: fixed;
  left: -120px;
  transition: 0.3s;
  padding: 10px;
  width: 140px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right bottom, #90ec93, #9cd1d8);
  border-radius: 200px;
  cursor: pointer;
}
.addbatch {
  position: fixed;
  left: -120px;
  transition: 0.3s;
  padding: 10px;
  width: 140px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right bottom, #673ab7, #ecacca);
  border-radius: 200px;
  cursor: pointer;
}
.addproject {
  position: fixed;
  left: -120px;
  transition: 0.3s;
  padding: 10px;
  width: 140px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right bottom, var(--light), #ab8686);

  border-radius: 200px;
  cursor: pointer;
}
nav a:hover {
  left: 0;
}
#centers {
  top: 134px;
}
#batches {
  top: 13rem;
}
#projects {
  top: 17rem;
}
#addcenters {
  top: 21rem;
}
#addbatchs {
  top: 25rem;
}
#addprojects {
  top: 29rem;
}
