<!-- <mat-sidenav-container>
  <mat-sidenav [(opened)]=''>
    <h3 class="center-hover"><a href="Centers">Centers</a></h3>
  </mat-sidenav>
  <mat-sidenav-content>container</mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <div class="main-div">
  <ul class="ul-list">
    <li>
      <svg>
        <g>
          <ellipse
            ry="10"
            rx="10"
            id="svg_1"
            cy="15.245313"
            cx="13"
            stroke-width="1.5"
            stroke="#000000"
            fill="#000000"
          />
          <rect
            stroke="#ffffff"
            id="svg_2"
            height="1.5"
            width="12"
            y="15"
            x="7"
            stroke-width="0.05"
            fill="#ffffff"
          />
          <rect
            transform="rotate(90 36.100000000000006,24.395312500000003) "
            stroke="#ffffff"
            id="svg_2"
            height="1.5"
            width="12"
            y="47"
            x="21"
            stroke-width="0.05"
            fill="#ffffff"
          />
        </g>
      </svg>
      <a href="centers"><h3>centers</h3></a>
    </li>
    <li>
      <svg>
        <g>
          <ellipse
            ry="10"
            rx="10"
            id="svg_1"
            cy="15.245313"
            cx="13"
            stroke-width="1.5"
            stroke="#000000"
            fill="#000000"
          />
          <rect
            stroke="#ffffff"
            id="svg_2"
            height="1.5"
            width="12"
            y="15"
            x="7"
            stroke-width="0.05"
            fill="#ffffff"
          />
          <rect
            transform="rotate(90 36.100000000000006,24.395312500000003) "
            stroke="#ffffff"
            id="svg_2"
            height="1.5"
            width="12"
            y="47"
            x="21"
            stroke-width="0.05"
            fill="#ffffff"
          />
        </g>
      </svg>
      <a href="batches">batches</a>
    </li>
    <li>
      <svg>
        <g>
          <ellipse
            ry="10"
            rx="10"
            id="svg_1"
            cy="15.245313"
            cx="13"
            stroke-width="1.5"
            stroke="#000000"
            fill="#000000"
          />
          <rect
            stroke="#ffffff"
            id="svg_2"
            height="1.5"
            width="12"
            y="15"
            x="7"
            stroke-width="0.05"
            fill="#ffffff"
          />
          <rect
            transform="rotate(90 36.100000000000006,24.395312500000003) "
            stroke="#ffffff"
            id="svg_2"
            height="1.5"
            width="12"
            y="47"
            x="21"
            stroke-width="0.05"
            fill="#ffffff"
          />
        </g>
      </svg>
      <a href="projects">projects</a>
    </li>
  </ul>
</div> -->
<div class="main-nav">
  <nav>
    <a class="center" href="#" id="centers">
      <span>centers</span>
    </a>

    <a class="batche" href="#" id="batches">
      <span>batches</span>
    </a>
    <a class="project" href="#" id="projects">
      <span>projects</span>
    </a>
    <a class="addcenter" href="#" id="addcenters">
      <span>AddCenter</span>
    </a>
    <a class="addbatch" href="#" id="addbatchs">
      <span>Add Batch</span>
    </a>
    <a class="addproject" href="#" id="addprojects">
      <span>Add Project</span>
    </a>
  </nav>
</div>
