<div class="header">
  <div>
    <h1 class="admin-text">Assignments > Assignment-Marks</h1>
  </div>
  <div class="dashed-line"></div>
  <div>
    <div class="attendance-body">
      <form>
        <main class="main-attendanceblock">
          <div class="dayreport-block">
            <select name="selecte" class="dayreport-form">
              <option>Select Center</option>
            </select>
          </div>
          <div class="dayreport-block">
            <select name="selecte" class="dayreport-form">
              <option>Select Batch</option>
            </select>
          </div>
        </main>
      </form>
    </div>
  </div>
</div>
