<div class="header">
  <div>
    <h1 class="admin-text">Administration > Training Centers</h1>
    <form class="search-bar">
      <input
        class="search-text"
        type="text"
        name="search"
        placeholder="Search"
      />
    </form>
  </div>
  <div class="dashed-line"></div>
  <div class="table-content">
    <table class="table table-border">
      <thead class="table-head">
        <tr>
          <th>S.No</th>
          <th>Centre Code</th>
          <th>Centre Name</th>
          <th>Contact No.</th>
          <th>Capacity</th>
          <th>Email</th>
          <th>Address</th>
          <th>State</th>
          <th>Action</th>
        </tr>
      </thead>
      <tr>
        <td>1</td>
        <td>MHAH</td>
        <td><a href="#">Ahmednagar</a></td>
        <td>9595461079</td>
        <td>60</td>
        <td>ahmednagar.ae@gmail.com</td>
        <td>Himmatgram, Nimbalak MIDC Ahmednagar,414111</td>
        <td>Maharashtra</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>2</td>
        <td>RJAL</td>
        <td><a href="#">Alwar</a></td>
        <td>9921587912</td>
        <td>60</td>
        <td>alwar.ae@gmail.com</td>
        <td>alwar.ae@gmail.com Krishi Vigyan Kendra, Goonta, Bansur,,301402</td>
        <td>Rajasthan</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>3</td>
        <td>TSCH</td>
        <td><a href="#">Chevella</a></td>
        <td>9440228168</td>
        <td>120</td>
        <td>chevella.ae@gmail.com</td>
        <td>
          Sagar group institution urella road chevella , Ranga Reddy district
          ,501503
        </td>
        <td>Telangana</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>4</td>
        <td>eSURYA</td>
        <td><a href="#">e-Surya</a></td>
        <td>9049871133</td>
        <td>1000</td>
        <td>9049871133</td>
        <td>Ground Floor, Indo-Swiss Center of Excellence,412216</td>
        <td>Maharashtra</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>5</td>
        <td>APEL</td>
        <td><a href="#">Eluru</a></td>
        <td>9999999999</td>
        <td>60</td>
        <td>eluru.ae@gmail.com</td>
        <td>Training Centre, Street Address,534001</td>
        <td>Andhra Pradesh</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>6</td>
        <td>MHJW</td>
        <td><a href="#">Jawhar</a></td>
        <td>8007424482</td>
        <td>30</td>
        <td>jawhar.ae@gmail.com</td>
        <td>Pragati Pratishthan, Near Old Petrol Pump, Jawhar ,401603</td>
        <td>Maharashtra</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>7</td>
        <td>ASJO</td>
        <td><a href="#">Jorhat</a></td>
        <td>9731933818</td>
        <td>45</td>
        <td>jorhat.ae@gmail.com</td>
        <td>
          Dhansri Farmer guest house , Assam Agriculture University,785016
        </td>
        <td>Assam</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>8</td>
        <td>RJKT</td>
        <td><a href="#">Kota</a></td>
        <td>9921587912</td>
        <td>40</td>
        <td>kota.ae@gmail.com</td>
        <td>
          Indian Institute of Soil and water conservation institute., Street
          Name,324002
        </td>
        <td>Rajasthan</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>9</td>
        <td>MHNA</td>
        <td><a href="#">Nanded</a></td>
        <td>1234567890</td>
        <td>60</td>
        <td>nanded.ae@gmail.com</td>
        <td>123, Sharda Nagar, SAgroli, Taluka: Biloli,431731</td>
        <td>Maharashtra</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>10</td>
        <td>OR</td>
        <td><a href="#">Odisha</a></td>
        <td>7008236504</td>
        <td>25</td>
        <td>odisha.ae@gmail.com</td>
        <td>1, Krishi Sadhan Kendra Bandakutra Junagarh,766023</td>
        <td>Odisha</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>11</td>
        <td>MHPU</td>
        <td><a href="#">Pune</a></td>
        <td>9049871133</td>
        <td>30</td>
        <td>pune.ae@gmail.com</td>
        <td>
          Indo Swiss Centre of Excellence, Gut no 368-369, Behind Someshwar
          Hotel,412216
        </td>
        <td>Maharashtra</td>
        <td>svg</td>
      </tr>
      <tr>
        <td>12</td>
        <td>JHRA</td>
        <td><a href="#">Ranchi</a></td>
        <td>6203521464</td>
        <td>60</td>
        <td>ranchi.ae@gmail.com</td>
        <td>MASS, Lalgarh,undefined</td>
        <td>undefined</td>
        <td>svg</td>
      </tr>
    </table>
  </div>
</div>
