<div class="header">
  <div>
    <a class="admin-text">
      <a href="#">Trainers</a>
      > Faculty-Profile
    </a>
  </div>
  <div class="dashed-line"></div>
  <div>
    <div class="center-body">
      <h3>TRAINER DETAILS</h3>
      <form>
        <main class="main-center">
          <div class="center-block">
            <span class="center-text">Employee ID</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text"> Name</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">Designation</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">Qualification</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">Contact</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">Email</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">Expertise In</span>
            <input type="text" class="center-form" />
          </div>
          <div class="center-block">
            <span class="center-text">Certifying Body</span>
            <input type="text" class="center-form" />
          </div>
          <button class="submit-button">Add Trainer</button>
        </main>
      </form>
    </div>
  </div>
</div>
