<div class="card card-bg">
  <div class="card-header">
    <div>
      <a href="#">
        <div class="card-head">Students</div>
      </a>
    </div>
    <div>
      <a href="#">
        <div class="card-number">669/1590</div>
      </a>
    </div>
    <div class="icon-position">
      <img
        class="img-position"
        src="E:\AE-program\src\app\images\address.svg"
      />
      <a href="#">
        <span class="material-icons batch-plus circle-icon"> add_circle </span>
      </a>
    </div>
  </div>
</div>
